@model IEnumerable<Store.Domain.Entities.Categories>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista Categoriilor</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Categoryid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Categoryname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Categoryid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categoryname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Categoryid }) |
                @Html.ActionLink("Details", "Details", new { id=item.Categoryid }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
